*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
header{
    width: 100%;
    height: 63.7vh;
    background: linear-gradient(to top right, blue, #11D1A7 );
    display: flex;
    flex-direction: column;
}
    .space-between{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
        .duo-row{
            display: flex;
            flex-direction: row;
        }
            .image-busuu{
                width: 150px;
                height: 87px;
                padding-top: 6px;
                padding-left: 18px;
                padding-right: 0px;
                
            }
            .mini-text{
                padding-top: 24px;
                color: #FFFFFF;
                font-weight: lighter;
                font-size: 22px;
                letter-spacing: 1px;
                font-family: Nista, "Helvetica Neue", Helvetica, Arial, sans-serif;
            }
            .border-special{
                padding-top: 2.1%;
                padding-right: 3%;
            }
                .precios{
                    border-radius:2rem;
                    min-height: 28px;
                    max-width: 340px;
                    padding: 8px 53px;
                    background-color: #FFFFFF;
                    text-decoration: none;
                    color: #116EEE;
                }
                .precios:hover{
                    background-color: transparent;
                    transition:.3s;
                    border: solid #FFFFFF;
                }                
    .duo-row2{
        display: flex;
        flex-direction: row;  
        justify-content: space-between;                  
    }
        .duo-row2_alltext{
            display: flex;
            flex-direction: column;
            padding-left: 2.7%;
            padding-right: 2.1%;
            padding-top: 2%;
        }
            h1{
                color: #FFFFFF;
                font-family: Nista, "Helvetica Neue", Helvetica, Arial, sans-serif;
                font-weight: 800;
                font-size: 43px;
                line-height: 60px;
            }
            .descuento{
                color: #FFFFFF;
                font-family: Nista, "Helvetica Neue", Helvetica, Arial, sans-serif;
                font-weight: lighter;
                font-size: 20px;
                line-height: 31px;
                padding-top: 3%;
                padding-bottom: 4.7%;
            }
                .premium{
                    border-bottom: solid #41F1A8 5px;
                }
            .reserva{
                border-radius: 2rem;
                min-height: 28px;
                max-width: 340px;
                padding: 17px 17px;
                background-color: #41F1A8;
                color:black;
                font-size: 20px;
                text-align: center;
                text-decoration: none;
            }
        .duo-row2_image{
            justify-content: right;
            width: 600px;
        }
            .girl-index{
                padding-top: 21.5%;
                width: 576px;
            }
section{
    display: flex;
    flex-direction: column;
}
    .section_row{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        text-align: center;
        padding: 5% 2% 6%;
    }
        .section_row h2{
                color: #252b2f;
                font-size: 1.7rem;
                line-height: 1.3;
                font-weight: 800;
        }
        .section_row p{
                color: #666e7e;
                font-size: 1.3rem;
                line-height: 1.7;
                font-weight: 500;
        }   
    .mini-row{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
        .min-column{
            padding-left: 7%;
            padding-top: 8%;
        }
        .min-column h2{
            font-size: 40px;
            font-weight: 800;
            color: #000000;
            line-height: 50px;
            font-family: Nista , "Helvetica Neue", Helvetica, Arial, sans-serif;
        }
        .min-column p{
            font-size: 18px;
            font-weight: 400;
            line-height: 31px;
            font-family: Nista , "Helvetica Neue", Helvetica, Arial, sans-serif;
            color: #000000;
            text-align: start;
        }
        .lessons{
            width: 100%;
            height: 100%;
            padding-left: 5%;
        }
    .mini-row-1{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
        .min-column-2{
            padding-left: 5%;
            padding-top: 8%;
            padding-right: 6%;
        }
        .min-column-2 h2{
            font-size: 40px;
            font-weight: 800;
            color: #000000;
            line-height: 50px;
            font-family: Nista , "Helvetica Neue", Helvetica, Arial, sans-serif;
        }
        .min-column-2 p{
            font-size: 18px;
            font-weight: 400;
            line-height: 31px;
            font-family: Nista , "Helvetica Neue", Helvetica, Arial, sans-serif;
            color: #000000;
            text-align: start;
        }
        .welcome{
            width: 100%;
            height: 100%;
        }
    .mini-row-2{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
        .min-column-3{
            padding-left: 7%;
            padding-top: 8%;
        }
        .min-column-3 h2{
            font-size: 40px;
            font-weight: 800;
            color: #000000;
            line-height: 50px;
            font-family: Nista , "Helvetica Neue", Helvetica, Arial, sans-serif;
        }
        .min-column-3 p{
            font-size: 18px;
            font-weight: 400;
            line-height: 31px;
            font-family: Nista , "Helvetica Neue", Helvetica, Arial, sans-serif;
            color: #000000;
            text-align: start;
            padding-bottom: 3%;
        }
        .min-column-3 a{
            border-radius: 1rem;
            background-color: #116EEE;
            text-decoration: none;
            font-size: 17px;
            font-weight: lighter;
            padding: 2% 7.8rem;
            color: #FFFFFF;
        }
        .group{
            width: 100%;
            height: 100%;
            padding-left: 5%;
            
        }
    .back-blue{
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;
        background-color: #116EEE;
        padding: 0% 5%;
        justify-content: space-around;
        height: 17vh;
    }
        .back-blue h2{
            color: #FFFFFF;
            font-weight: lighter;
            font-size: 27px;
            line-height: 40px;
            font-family: Nista , "Helvetica Neue", Helvetica, Arial, sans-serif;
        }
            .back-blue h2 span{
                font-weight: 800;
            }
        .back-blue a{
            border-radius: 1.6rem;
            background-color: #FFFFFF;
            text-decoration: none;
            font-size: 17px;
            font-weight: lighter;
            padding: 1.2% 6.8rem;
            color: #116EEE;
        }
        .back-blue a:hover{
            background-color: transparent;
            transition:.3s;
            border: solid #FFFFFF;
            color: #FFFFFF;
        }
    .relleno{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
        .relleno h2{
            padding-top: 5%;
            font-size: 40px;
            font-family: Nista , "Helvetica Neue", Helvetica, Arial, sans-serif;
            line-height: 68px;
            font-weight: 800;
            color: #000000;
        }
        .relleno p{
            font-size: 23px;
            font-family: Nista , "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-weight: 400px;
            color: #000000;
        }
        .relleno div{
            display: flex;
            flex-direction:row;
            padding-top: 3%;
        }
            .star{
                width: 290px;
                height: 40px;
            }
            div .numbers{
                font-weight: bold;
                font-size: 40px;
            }
        .dual{
            width: 500px;
            height: 100px;
        }
    .testimonio{
        display: flex;
        flex-direction:row;
        justify-content: space-around;
        padding-top: 6%;
    }
        .testimonio-1{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            color: #000000;
            width: 300px;
            height: 400px;
            border: solid rgb(145, 145, 151) 1px;
            border-radius: 5%;
            text-align: justify;
            padding-right: 30px;
            padding-left: 20px;
            font-size: 17px;
            font-weight: 400;
            font-family: Nista, "Helvetica Neue", Helvetica, Arial, sans-serif;
        }
            .testimonio-1_row{
                display: flex;
                flex-direction:row;
                justify-content: space-between;                
            }
            .testimonio-1_row img{
                width: 100px; 
            }
            .testimonio-1_row svg{
                padding-top: 20px;
            }
            .testimonio-1_row p{
                font-size: 24px;
                font-weight: 800;
                font-family: Nista, "Helvetica Neue", Helvetica, Arial, sans-serif;
            }
    .middle-init{
        padding-top: 50px;
        text-align: center;
    }
        .middle-init a{
            border-radius: 1.6rem;
            background-color: #116EEE;
            text-decoration: none;
            font-size: 17px;
            font-weight: lighter;
            padding: 1.2% 6.8rem;
            color: #ffffff;
        }
        .middle-init a:hover{
            opacity: 0.7;
            transition: 0.6s;
        }
    .gradiante{
        margin-top: 5%;
        width: 100%;
        height: 90vh;
        background: linear-gradient(to top right, blue, #11D1A7 );
        text-align: center;
        justify-content: center;
        padding: 4% 10%;
    }
        .gradiante h2{
            font-size: 40px;
            font-weight: 600;
            color: #FFFFFF;
            line-height: 60px;
            font-family: Nista, "Helvetica Neue", Helvetica, Arial, sans-serif;
        }
        .gradiante .solo{
            padding-top: 3%;
            font-size: 18px;
            font-weight: 300;
            color: #FFFFFF;
            line-height: 31px;
            font-family: Nista, "Helvetica Neue", Helvetica, Arial, sans-serif;
        }
    .ultimate-row{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
        .first{
            display: flex;
            flex-direction: column;
            background: #FFFFFF;
            padding: 2% 6%;
            margin: 1% 0%;
            border-radius: 6%;
            justify-content: space-around;
        }
            .leccion{
                font-family: Nista , "Helvetica Neue", Helvetica, Arial, sans-serif;
                font-weight: 800;
                font-size: 30px;
                color: #116EEE;
                line-height: 45px;
            }
            .estudiantes{
                font-family: Nista , "Helvetica Neue", Helvetica, Arial, sans-serif;
                font-weight: 400;
                font-size: 16px;
                color: #666e7e;
                line-height: 24px;
            }
                .estudiantes span{
                    font-family: Nista , "Helvetica Neue", Helvetica, Arial, sans-serif;
                    font-weight: 800;
                    font-size: 16px;
                    color: #666e7e;
                    line-height: 24px;
                }
            .number-18{
                font-family: Nista , "Helvetica Neue", Helvetica, Arial, sans-serif;
                font-weight: 800;
                font-size: 30px;
                color: #252b2f;
                line-height: 45px;
            }
                .number-18 span{
                    font-family: Nista , "Helvetica Neue", Helvetica, Arial, sans-serif;
                    font-weight: 500;
                    font-size: 19px;
                    color: #252b2f;
                    line-height: 31px;
                }
            .number-72{
                font-family: Nista , "Helvetica Neue", Helvetica, Arial, sans-serif;
                font-weight: 400;
                font-size: 18px;
                color: #a7b0b7;
                line-height: 31px;
            }
            .first a{
                    border-radius: 1.6rem;
                    background-color: #116EEE;
                    text-decoration: none;
                    font-size: 17px;
                    font-weight: lighter;
                    padding: 7% 2.8rem;
                    color: #ffffff;
                
            }
        .middle{
            display: flex;
            flex-direction: column;
            background: #FFFFFF;
            padding: 7% 7%;
            border-radius: 6%;
            justify-content: space-around;
        }
            .middle .popular{
                background-color: #11EE92;
                border: solid black;
                font-family: Nista, "Helvetica Neue", Helvetica, Arial, sans-serif;;
                font-size: 15px;
                padding: 4% 4%;
                font-weight: 800;
                line-height: 12px;
                color: #252b2f;
            }
            .middle a{
                margin-top: 50px;
                border-radius: 1.6rem;
                background-color: #116EEE;
                text-decoration: none;
                font-size: 17px;
                font-weight: lighter;
                padding: 7% 2.8rem;
                color: #ffffff;
            }
    .footer{
        display:flex;
        flex-direction: row;
        padding: 3% 4%;
        justify-content: space-around;
    }
        .footer p{
            color: #252b2f;
            font-family: Nista , "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-weight: 800;
            font-size: 17px;
            line-height: 27px;
            padding: 15px 0px;
        }
        .footer a{
            text-decoration: none;
            color: #252b2f;
            font-weight: 500;
            font-size: 15px;
            line-height: 24px;
            font-family: Nista , "Helvetica Neue", Helvetica, Arial, sans-serif;
        }
        .footer-column{
            display:flex;
            flex-direction: column;
        }
            .footer-column div li{ 
                display:flex;
                flex-direction: column;
            }
            .footer-column-1 li{ 
                display:flex;
                flex-direction: column;
            }
            .footer-column-2 li{ 
                display:flex;
                flex-direction: column;
            }
    hr{
        align-items: center;
        margin: 0% 6%;
    }
    .row-footer{
        display: flex;
        flex-direction: row;
        padding: 2% 7%;
    }
        .row-footer p{
            font-family: Nista , "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-weight: 500;
            font-size: 15px;
            color: #252b2f;
        }
        .row-footer div{
            padding-left: 5%;
        }
            .row-footer a{
                text-decoration: none;
                font-family: Nista , "Helvetica Neue", Helvetica, Arial, sans-serif;
                font-weight: 500;
                font-size: 15px;
                color: #252b2f;
            }