*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
header{
    width: 100%;
    height: 63.7vh;
    background: linear-gradient(to top right, blue, #11D1A7 );
    display: flex;
    flex-direction: column;
}
    .space-between{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
        .duo-row{
            display: flex;
            flex-direction: row;
        }
            .image-busuu{
                width: 150px;
                height: 87px;
                padding-top: 6px;
                padding-left: 18px;
                padding-right: 0px;
                
            }
            .mini-text{
                padding-top: 24px;
                color: #FFFFFF;
                font-weight: lighter;
                font-size: 22px;
                letter-spacing: 1px;
                font-family: Nista, "Helvetica Neue", Helvetica, Arial, sans-serif;
            }
            .border-special{
                padding-top: 2.1%;
                padding-right: 3%;
            }
                .precios{
                    border-radius:2rem;
                    min-height: 28px;
                    max-width: 340px;
                    padding: 8px 53px;
                    background-color: #FFFFFF;
                    text-decoration: none;
                    color: #116EEE;
                }
                .precios:hover{
                    background-color: transparent;
                    transition:.3s;
                    border: solid #FFFFFF;
                }                
    .duo-row2{
        display: flex;
        flex-direction: row;  
        justify-content: space-between;                  
    }
        .duo-row2_alltext{
            display: flex;
            flex-direction: column;
            padding-left: 2.7%;
            padding-right: 2.1%;
            padding-top: 2%;
        }
            h1{
                color: #FFFFFF;
                font-family: Nista, "Helvetica Neue", Helvetica, Arial, sans-serif;
                font-weight: 800;
                font-size: 43px;
                line-height: 60px;
            }
            .descuento{
                color: #FFFFFF;
                font-family: Nista, "Helvetica Neue", Helvetica, Arial, sans-serif;
                font-weight: lighter;
                font-size: 20px;
                line-height: 31px;
                padding-top: 3%;
                padding-bottom: 4.7%;
            }
                .premium{
                    border-bottom: solid #41F1A8 5px;
                }
            .reserva{
                border-radius: 2rem;
                min-height: 28px;
                max-width: 340px;
                padding: 17px 17px;
                background-color: #41F1A8;
                color:black;
                font-size: 20px;
                text-align: center;
                text-decoration: none;
            }
        .duo-row2_image{
            justify-content: right;
            width: 600px;
        }
            .girl-index{
                padding-top: 21.5%;
                width: 576px;
            }
section{
    display: flex;
    flex-direction: column;
}
    .section_row{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        text-align: center;
        padding: 5% 2% 6%;
    }
        .section_row h2{
                color: #252b2f;
                font-size: 1.7rem;
                line-height: 1.3;
                font-weight: 800;
        }
        .section_row p{
                color: #666e7e;
                font-size: 1.3rem;
                line-height: 1.7;
                font-weight: 500;
        }   
    .mini-row{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
        .min-column{
            padding-left: 7%;
            padding-top: 8%;
        }
        .min-column h2{
            font-size: 40px;
            font-weight: 800;
            color: #000000;
            line-height: 50px;
            font-family: Nista , "Helvetica Neue", Helvetica, Arial, sans-serif;
        }
        .min-column p{
            font-size: 18px;
            font-weight: 400;
            line-height: 31px;
            font-family: Nista , "Helvetica Neue", Helvetica, Arial, sans-serif;
            color: #000000;
            text-align: start;
        }
        .lessons{
            width: 100%;
            height: 100%;
            padding-left: 5%;
        }
    .mini-row-1{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
        .min-column-2{
            padding-left: 5%;
            padding-top: 8%;
            padding-right: 6%;
        }
        .min-column-2 h2{
            font-size: 40px;
            font-weight: 800;
            color: #000000;
            line-height: 50px;
            font-family: Nista , "Helvetica Neue", Helvetica, Arial, sans-serif;
        }
        .min-column-2 p{
            font-size: 18px;
            font-weight: 400;
            line-height: 31px;
            font-family: Nista , "Helvetica Neue", Helvetica, Arial, sans-serif;
            color: #000000;
            text-align: start;
        }
        .welcome{
            width: 100%;
            height: 100%;
        }
    .mini-row-2{
        display: flex;
        flex-direction: row;
    }
        .min-column-3{
            padding-left: 7%;
            padding-top: 8%;
        }
        .min-column-3 h2{
            font-size: 40px;
            font-weight: 800;
            color: #000000;
            line-height: 50px;
            font-family: Nista , "Helvetica Neue", Helvetica, Arial, sans-serif;
        }
        .min-column-3 p{
            font-size: 18px;
            font-weight: 400;
            line-height: 31px;
            font-family: Nista , "Helvetica Neue", Helvetica, Arial, sans-serif;
            color: #000000;
            text-align: start;
            padding-bottom: 3%;
        }
        .min-column-3 a{
            border-radius: 1rem;
            background-color: #116EEE;
            text-decoration: none;
            font-size: 17px;
            font-weight: lighter;
            padding: 2% 7.8rem;
            color: #FFFFFF;
        }
        .group{
            width: 100%;
            height: 100%;
            padding-left: 5%;
        }
    .back-blue{
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;
        background-color: #116EEE;
        padding: 0% 5%;
        justify-content: space-around;
        height: 17vh;
    }
        .back-blue h2{
            color: #FFFFFF;
            font-weight: lighter;
            font-size: 27px;
            line-height: 40px;
            font-family: Nista , "Helvetica Neue", Helvetica, Arial, sans-serif;
        }
            .back-blue h2 span{
                font-weight: 800;
            }
        .back-blue a{
            border-radius: 1.6rem;
            background-color: #FFFFFF;
            text-decoration: none;
            font-size: 17px;
            font-weight: lighter;
            padding: 1.2% 6.8rem;
            color: #116EEE;
        }
        .back-blue a:hover{
            background-color: transparent;
            transition:.3s;
            border: solid #FFFFFF;
            color: #FFFFFF;
        }
    .relleno{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
        .relleno h2{
            padding-top: 5%;
            font-size: 40px;
            font-family: Nista , "Helvetica Neue", Helvetica, Arial, sans-serif;
            line-height: 68px;
            font-weight: 800;
            color: #000000;
        }
        .relleno p{
            font-size: 23px;
            font-family: Nista , "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-weight: 400px;
            color: #000000;
        }
        .relleno div{
            display: flex;
            flex-direction:row;
            padding-top: 3%;
        }
            .star{
                width: 290px;
                height: 40px;
            }
            div .numbers{
                font-weight: bold;
                font-size: 40px;
            }
        .dual{
            width: 500px;
            height: 100px;
        }
    .testimonio{
        display: flex;
        flex-direction:row;
        justify-content: space-around;
        padding-top: 6%;
    }
        .testimonio-1{
            display: flex;
            flex-direction: column;
            color: #000000;
        }
            .testimonio-1_row{
                display: flex;
                flex-direction:row;
                justify-content: space-between;                
            }
        